<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="examService" class="ca.purpose.ExamServiceImpl">
        <constructor-arg name="examiner" ref="examiner"/>
    </bean>
    <bean id="examiner" class="ca.purpose.ExaminerImpl">
        <constructor-arg name="examFormer" ref="examFormer"/>
    </bean>
    <bean id="examFormer" class="ca.purpose.ExamFormerImpl">
        <constructor-arg name="questionExtractor" ref="fileQuestionExtractor"/>
    </bean>
    <bean id="fileQuestionExtractor" class="ca.purpose.FileQuestionExtractor">
        <constructor-arg type="String" ref="examPath"/>
    </bean>
    <bean id="examPath"
          class="java.lang.String">
        <constructor-arg value=".\\Spring-01-Intro\\src\\main\\resources\\QuestionsWithAnswers.csv"/>
    </bean>
</beans>
